__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec
*~
.#*
*.swp
*.swo
*.swn
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
venv/
.env/
.envs/
.venv/
.ipynb_checkpoints/
*.pygame
